:root{
    --color-light1:#E9EBF8;
    --color-light2:#C6C6C6;
    --color-light3:#E9EBF8;
    --color-dark1:#323232;
    --color-dark2: #8E98A8;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}


main{
    
    padding-top: 7%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    
}

button{
    background: none;
    border: none;
    cursor: pointer;
}
footer a{
    color:var(--color-light1);
}
.leftContainer,.rightContainer{
    gap: 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

}
.leftContainer .buttomContainer{
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.leftContainer{
    
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color:var(--color-dark1);
    color: var(--color-light1);
    padding-left: 50px;
    padding-right:50px;
}
.leftContainer a{
    font-size: small;
}
.buttomContainer{
    
    text-align: center;
    font-weight: bolder;
    border: #E9EBF8 2px solid;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.leftContainer button{
    
    height: 40px;
    font-size: large;
    color: var(--color-light1);
    font-weight: bolder;

}
button a{
text-decoration: none;
}
.leftContainer .logo{
    width: 180px;
}
.leftContainer .logoContainer{
    padding-top: 20px;
}
.leftContainer .welcomeContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 40px 0 ;
}
.welcomeContainer p{
    font-size: smaller;
    font-weight: lighter;
}
.rightContainer{
    
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color:var(--color-light2);
    padding: 0 100px;

}
.rightContainer .LoginTittle{
    padding-top: 50px;
}
.rightContainer button{
    font-size: large;
    font-weight: bolder;
    border: var(--color-dark1) 2px solid;
    background: var(--color-dark1);
    height: 50px;
    width: 130px;
    border-radius: 10px;
    color: var(--color-light1);
}
#noteForm{
    padding-top:30px;
}

#noteForm input{

    font-weight: bolder;
    height: 20px;
    padding: 10px;
    width: 250px;
    border-radius: 7px;
    background-color: var(--color-light3);
    border:solid 2px var(--color-dark2);
}

@media only screen and (max-width: 717px){
    

    main{
        flex-direction: column;
        padding-top: 0%;
    }
    .leftContainer,.rightContainer{
    
        align-items:flex-start;
        text-align:left;
        justify-content:flex-start;
    
    }

    .rightContainer{
    
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        padding: 0 50px;
    }

    .leftContainer{
        padding: 40px 40px;
        gap: 25px;
       border-radius: 0%;
    }
}

