.main{
    margin: 30px;
}
.div_prods{
    
    width: 100%;
    display: flex;
    overflow-x:scroll;
    
}

.div_produto{

    margin: 0%;
    background-position: center;
}

.div_info{
    text-align: start;
    gap: 8px;
    margin-top: -4px;
    background-color: #C6C6C6;
    border: rgb(158, 158, 158) 0.5px solid;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.img_prod{
   
    width: 230px; 
    height: 280px; 
    object-fit: cover;

}

h2{
    margin-top: 50px;
    text-align: start;

}


a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

@media only screen and(max-width: 923px) {

    main{
        height: calc(100vh - 330px);
    }
    .img_prod{
   
        width: 200px; 
        height: 243px; 
        object-fit: cover;
    
    }
   
}
@media only screen and (max-width: 717px){
    .main{
        margin: 20px;
    }
}