.main{
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    margin: 30px;
    min-height: 50vh;
}
.div_prods{
    
    width: 100%;
    display: flex;
    overflow-x:scroll;
    
}

.div_produto{

    margin: 0%;
    background-position: center;
}

.div_info{
    transition: 500ms;
    text-align: start;
    gap: 8px;
    margin-top: -4px;
    background-color: var(white);
    display: flex;
    flex-direction: column;
    padding: 15px;
    
}

.img_prod{
   
    transition: 500ms;
    width: 230px; 
    height: 280px; 
    object-fit: cover;

}

h2{
    margin-top: 50px;
    text-align: start;

}


a{
    text-decoration: none;
    color: var(--cinza-650);
    font-weight: bold;
}



.link_prod div:hover{

    .img_prod{
   
        width: 224.42px; 
        height: 300px; 
    
    }
    .div_info{
        padding: 7.5px;
        gap: 3px;
    }
}

@media only screen and(max-width: 923px) {

    main{
        height: calc(100vh - 330px);
    }
    .img_prod{
   
        width: 200px; 
        height: 243px; 
        object-fit: cover;
    
    }
   
}
@media only screen and (max-width: 717px){
    .main{
        margin: 20px;
    }
}