.modalOverlay {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}


:root {
    --color-light1: #E9EBF8;
    --color-light2: rgba(198, 198, 198, 1);
    --color-light3: #E9EBF8;
    --color-dark1: #323232;
    --color-dark2: #8E98A8;
}

/* GERAL */
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    width: min-content;
    
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.leftContainer a {
    color: var(--color-light1);
    text-decoration: underline;
}

.leftContainer,
.rightContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: max-content;
    border-radius: 1.5rem;
    padding: 3rem;
    background-color: #c6c6c6;
}

/* CONTAINER ESQUERDA */
.leftContainer {
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    background-image: url(../assets/backgroundPhoto.jpeg);
    color: var(--color-light1);
    background-size: cover;
    background-position: center;
    
}

.leftContainer a {
    font-size: small;
}

.leftContainer .buttonContainer {
    
    display: flex;
    flex-direction: column;
}

.leftContainer button {
    height: 2.200rem;
    font-size: large;
    color: var(--color-light1);
    font-weight: bolder;
}
.welcomeContainer h2{
    margin-bottom: 1rem;
    margin-top: 4rem;
    text-align: center;
}
.welcomeContainer p{
    margin-bottom: 3rem;
    text-align: center;
}
.buttonContainer {
    text-align: center;
    font-weight: bolder;
    border: var(--color-light1) 0.13rem solid;
    height: 2.4rem;
    margin: 0 64px;
    border-radius: 0.75rem;
}


/* CONTAINER DIREITA */
.rightContainer {
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}

.rightContainer button {
    font-size: large;
    font-weight: bolder;
    border: var(--color-dark1) 0.125rem solid;
    background: var(--color-dark1);
    height: 3.125rem;
    width: 8.2rem;
    border-radius: 0.75rem;
    color: var(--color-light1);
}

.rightContainer .LoginTittle {
    
    margin-bottom: 1.75rem;
}
.loginTitle h2{
    text-align: center;
    padding-bottom: 0.4rem;
}
.loginTitle p{
    padding-bottom: 2rem;
}
.noteForm input {
    font-weight: bolder;
    height: 2.5rem;
    padding: 0.625rem;
    width: 15.625rem;
    border-radius: 0.4375rem;
    background-color: #e9ebf8;
    border: 0.125rem solid var(--color-dark2);
}


@media only screen and (max-width: 44.813rem) {
    main {
        
        flex-direction: column;
        width: 100%;
        height: min-content;
    }

    .leftContainer,
    .rightContainer {
        border-radius: 0%;
        align-items: flex-start;
        text-align: start;
        justify-content: start;
        width: 100%;
        padding: 2rem;
        justify-content: flex-start;
    }
    .loginTitle h2, .loginTitle p,.welcomeContainer h2, .welcomeContainer p {
        text-align: start;
        
    }
    .leftContainer{
        border-top-right-radius: 1.5rem;
        border-top-left-radius: 1.5rem;
    }
    .rightContainer{
        border-bottom-right-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
    }

    .rightContainer .LoginTittle {

        padding-bottom: 0.5rem;
    }
    .welcomeContainer h2{

        margin-top: 2rem;
        padding-bottom: 0.2rem;

    }
    .welcomeContainer p{

        margin-bottom: 1rem;

    }
    

    .buttonContainer {
        margin: 0;
        padding: 0 2rem;
    }
}
