 /* Firefox */
  div {
    scroll-behavior: smooth;
    scrollbar-width: auto;
    scrollbar-color: #292929 #ffffff00;
  }

  /* Chrome, Edge, and Safari */
  div::-webkit-scrollbar {
    
    width: 7px;
    height: 7px;
  }

  div::-webkit-scrollbar-track {
    background: #ffffff00;
  }

  div::-webkit-scrollbar-thumb {
    background-color: #323232;
  }

:root {
  --branco: #fff;
  --cinza-100: #E9EBF8;
  --cinza-300: #c4c4cc;
  --cinza-400: #777777;
  --cinza-600: #323238;
  --cinza-650: #323232;
  --cinza-700: #29292e;
  --cinza-800: #202024;
  --cinza-900: #121214;
  --preto: #000;
}

a {
  text-decoration: none;
  color: var(--preto);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  background: var(--branco);
  color: var(--preto);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}




